.graphicdesign_contentContainer {
    border-top: 1px solid #046fda;
    border-bottom: 1px solid #046fda;
    padding: 50px 0px;
}
.graphicdesign_contentContainer {
    background: rgb(5,38,121);
    background: -moz-linear-gradient(90deg, rgba(5,38,121,1) 0%, rgba(2,17,49,1) 86%, rgba(2,17,49,1) 90%, rgba(1,5,15,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(5,38,121,1) 0%, rgba(2,17,49,1) 86%, rgba(2,17,49,1) 90%, rgba(1,5,15,1) 100%);
    background: linear-gradient(90deg, rgba(5,38,121,1) 0%, rgba(2,17,49,1) 86%, rgba(2,17,49,1) 90%, rgba(1,5,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#052679",endColorstr="#01050f",GradientType=1); 
    margin-bottom: 40px;
}
#graphicdesign_scrC {
    display: flex;
    justify-content: center;
}
#graphicdesign_scr {
    display: flex;
    flex-basis: 1050px;
    align-self: center;
}
.graphic_leftAccent {
    padding-right: 20px;
    align-self: center;
}
.graphic_rightAccent {
    padding-left: 20px;
    align-self: center;
}
.graphicText_1_adobe {
    flex-basis: 600px;
    text-align: left;
    color: white;
    align-self: center;
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.graphicText_1_adobe div {
    margin-bottom: 20px;
}
.graphicText_1_adobe span {
    border-bottom: 4px solid #4062af;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px 20px 5px 0px;
}

.graphicText_1 {
    text-align: right;
    color: white;
    align-self: center;
    font-size: 14px;
    text-align: left;
    padding-right: 10px;
    align-self: center;
    padding-bottom: 50px;
    padding-left: 30px;
}
.graphicText_1 div {
    margin-bottom: 20px;
}
.graphicText_1 span {
    border-bottom: 4px solid #4062af;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px 20px;
}


/* Second Box Styles */
.gd_gall_top {
    display: flex;
    justify-content: center;
}
.graphicText_flex {
    display: flex;
    justify-content: center;
}
.graphicText_1 {
    padding-top: 40px;
    flex-basis: 800px;
    text-align: center;
}
.gd_gall_container {
    padding-top: 30px;
}
.bottomMargin {
    margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
    .graphic_leftAccent, .graphic_rightAccent {
        display: none;
    }
    .gd_gall_top {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    #graphicdesign_adobeLogosCenter {
        display: none;
        max-width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 800px) {
    #graphicdesign_scr {
        display: block;
        text-align: center;
    }
    #graphicdesign_adobeLogosCenter {
        max-width: 100%;
        height: auto;
    }
    #graphicdesign_adobeLogosLeft {
        display: none;
    }
    .graphicText_1 {
        text-align: center;
        padding: 40px 20px;
    }
    .graphicText_1_adobe {
        text-align: center;
    }
    .graphicText_1_adobe span {
        padding: 5px 20px;
    }
    .graphicText_1_adobe div {
        padding-top: 40px;
    }
}