#footerDiv {
    background: rgb(2,9,31);
    background: -moz-linear-gradient(0deg, rgba(2,9,31,1) 89%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,9,31,1) 89%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(2,9,31,1) 89%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02091f",endColorstr="#000000",GradientType=1); 
    border-top: 1px solid #08447f;
}
#footerDivCoverDiv {
    padding: 30px 0px;
    color: #868789;
}
#footerDivCoverDiv img {
    max-width: 100%;
    height: auto;
}
.footerLink {
    padding: 0px 20px;
    text-decoration: none;
}
#footerDivCoverDiv a, #footerDivCoverDiv a:visited {
    color: #868789;
    text-decoration: none;
}

#footerDivCoverDiv a:hover {
    color: white;
    text-decoration: none;
}