.App {
  text-align: center;
  height: 100%;
}
.light_subHeading {
  color: #778ec3;
  font-size: 14px;
  margin-bottom: 10px;
}
.light_description {
  color: #a7b5d5;
  font-size: 14px;
}
.contentTitleImg {
  max-width: 95%;
  height: auto;
  margin: 0px 10px;
}
.circuit_bg {
  height: 40px;
  overflow: hidden;
}
.circuit_bg img {
  width: 100%;
  height: auto;
}